---
import { siteConfig } from '@/config/site';

const destination = '/interests/writing';
const canonical = new URL(destination, siteConfig.siteUrl).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${destination}`} />
    <link rel="canonical" href={canonical} />
    <title>Redirecting to Writing & Ideas</title>
  </head>
  <body>
    <p>Redirecting to <a href={destination}>Writing &amp; Ideas</a>.</p>
  </body>
</html>
